In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("winequality-white.csv", sep=';')

In [5]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [6]:
X = data.iloc[:, 1:11]
y = data.iloc[:, -1]

In [8]:
X.head()

,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [9]:
y.head()

0    6
1    6
2    6
3    6
4    6
Name: quality, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
(X_train, X_test, y_train, y_test) = train_test_split(X,y, test_size=0.2)

In [12]:
X_train.head()

,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1937,0.13,0.27,4.6,0.080,34.0,172.0,0.99380,3.23,0.39,11.1
1562,0.34,0.49,1.5,0.027,26.0,126.0,0.99000,3.30,0.33,12.2
2472,0.24,0.23,10.3,0.032,12.0,97.0,0.99571,3.13,0.40,10.7
3488,0.20,0.20,1.4,0.036,25.0,83.0,0.99088,3.03,0.46,11.7
2553,0.13,0.42,1.1,0.043,63.0,146.0,0.99066,3.13,0.72,11.2

In [13]:
y_train.head()

1937    7
1562    7
2472    6
3488    6
2553    7
Name: quality, dtype: int64

In [14]:
from sklearn.ensemble import GradientBoostingClassifier

In [15]:
#instantiate the model
gbModel = GradientBoostingClassifier(random_state=42)

In [16]:
#fit our data
gbModel.fit(X_train, y_train)

GradientBoostingClassifier(random_state=42)

In [18]:
#use a model to get a prediction
y_pred = gbModel.predict(X_test)

In [19]:
#Accuracy using built in score method
gbModel.score(X_test,y_test)

0.5795918367346938

In [21]:
#Accuracy using sklearn
from sklearn.metrics import accuracy_score

In [22]:
accuracy_score(y_test, y_pred)

0.5795918367346938